.user-input{
    width: 10rem;
    height: 2rem;
}

.user-search{
    width: 7rem;
    height: 3.4rem;
}

.photo{
    width: 15rem;
    height: auto;
    border-radius: 150px;
}

.username-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.users{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 3rem;
}

.searcher{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1-input{
    display: flex;
    gap: 2rem;
}