:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(45deg, #2c3e50, #34495e, #7f8c8d);
  background-size: 600% 600%;
  animation: animation 7s ease infinite;
}

@keyframes animation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input, button {
  background: linear-gradient(45deg, #2c3e50, #34495e);
  border: 1px solid #7f8c8d; 
  color: white; 
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  width: 250px; 
  outline: none;
  transition: all 0.7s ease; 
}

input:focus {
  border-color: #1abc9c; 
  background: linear-gradient(45deg, #34495e, #2c3e50); 
  box-shadow: 0 0 10px rgba(26, 188, 156, 0.5);
  transition: 0.7s;
}

input:hover {
  border-color: #1abc9c; 
  background: linear-gradient(45deg, #34495e, #2c3e50); 
  box-shadow: 0 0 10px rgba(26, 188, 156, 0.5);
  transition: 0.7s;
}

h1, p{
  color: white;
}

img{
    width: 15rem;
    height: auto;
    border-radius: 150px;
    transition: 0.7s;
    border: 2px solid white;
}

img:focus {
  border-color: #1abc9c; 
  background: linear-gradient(45deg, #34495e, #2c3e50); 
  box-shadow: 0 0 30px rgba(26, 188, 156, 0.5);
  transition: 0.7s;
}

img:hover {
  border-color: #1abc9c; 
  background: linear-gradient(45deg, #34495e, #2c3e50); 
  box-shadow: 0 0 30px rgba(26, 188, 156, 0.5);
  transition: 0.7s;
}